// Colors
// =================================================================
$primary-color: rgba(100,194,158,1);
$menu-color: rgba(77,73,89,1);
$title-color: rgba(53,55,56,1);
$text-color: rgba(132,135,127,1);

// *****
// =================================================================
